

body {
  color: #313131;
  font-family: sans-serif;
  line-height: 1.5;
  margin: auto;
  width: 100%;
  background-color: rgb(231, 230, 227);
}

main {

  background-color: #ffffff;

}

.main-content {
  padding: 4em;
}

#main-background-image-content {
  color: #ffffff;
}

#main-background-image-content h1{
  color: #ffffff;
  border-bottom: 1px solid #ffffff;
}

header {
  display: block;
  position: sticky;
  top: 0;
  width: inherit;
  background-color: aqua;

}

footer {
  align-items: center;
  border-top: 1px solid #09002e;
  padding-right: 2rem;
  padding-left: 2rem;
  padding-top: 1rem;
  padding-bottom: 1rem;;
  background-color: rgb(255, 246, 218);

}




h1 {
  display: inline;
  color: #000000;
  border-bottom: 1px solid #09002e;
}

h3 {
  color:rgb(250, 8, 60)
}

.hidden-menu {
  display: none;

}

.top-nav-container {

  display: flex;
  width: 100%;
  background-color: rgb(255, 246, 218);
  border-bottom: 1px solid #09002e;
}

.top-nav {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 100%;
  margin: auto;
}

.top-nav a {
  display: flex;
  color: #000000;
  text-decoration: none;
  font-size: 20px;
  font-family: "Athiti", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.top-nav nav {
  
  width: 100%;
  white-space: nowrap;
  padding: 0px 0px 12px 0px;
}


.top-nav-logo {
  display: flex;
  padding: 12px;
}

.top-nav-buttons {
  display: flex;
  justify-content: space-between;
  width: 100%;
 
}

.divider {
  margin: 6px 0px;
  border-left: 1px solid #09002e;
}




.top-nav .active:not(:first-child){
  border-bottom: 1px solid #09002e;

}


/* .top-bar {
  float: right;
  border-left: 1px solid #bbb;
  color:#000000;

} */

.nav-bar-li:last-child {
  border-left: none;
}


.nav-bar-li a{
  display: block;
  text-decoration: none;

  text-align: center;
  padding: 14px 16px;
}

.top-nav-buttons a:hover {
  border-bottom: 1px solid #09002e;
}

#nav-bar-logo{
  width: 320px;
  margin-right: 25px;
}

#burger-menu-icon {
  display: none;
}

.bio-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: nowrap;
  padding-top: 48px;
}

.bio-headshot {
  display: flex;
  margin-right: 24px;
  margin-bottom: 24px;
}

.bio-content {
  display: flex;
  flex-direction: column;
  justify-content:space-between;
  align-items: flex-start;
  max-width: fit-content

}

.bio-content h2 {
  margin: 0 0 0 0;
}

.bio-content p {
  margin: 0 0 12px 0;
}

.services-home {
  display: flex;
  justify-content: space-between;
  color: white;
  background-color: rgb(58, 98, 60);
  flex-direction: column;
  
}

.services-home h1 {
  color: white;
  border-bottom: none;
}

.services-description {
  padding: 0 12px 0 0;
  max-width: 60%;
  min-width: 60%;
}

.services-blurbs-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 0;
  margin: 0;
}

.fade-in-text {
  opacity: 0;
  transition: opacity 0.8s ease-out;
}

.fade-in-text.is-visible {
  opacity: 1;
}

.services-blurb {

  margin: 0 12px 12px 0;
  padding: 16px;
  background-color: #487A4B;
  border-radius: 8px;
  width: 100%;
}

.services-blurb:hover {

  margin: 0 12px 12px 0;
  padding: 16px;
  background-color: #265B29;
  border-radius: 8px;
  width: 100%;
}

.fade-in-text {
  opacity: 0;
  transition: opacity 0.8s ease-out;
}







@media screen and (min-width: 1875px) {
  .services-blurb {
    max-width: 30%;
  }

}


@media screen and (max-width: 1874px) {
  

  .services-blurb {
    max-width: 47%;

  }

}

@media screen and (max-width: 1600px) {
  

  .services-blurb {
    max-width: 100%;

  }

 
}



@media screen and (max-width: 775px) {
  #nav-bar-logo{
    width:200px;
    margin-right: 50px;
  }
}

@media screen and (max-width: 700px) {

  .top-nav {
    display: flex;
    flex-direction: column;
    justify-content:space-evenly;
    align-items: center;
    width: 100%;
  }

  .main-content {
    padding: 2em;
  }

  .top-nav nav {
    width: 90%;
    padding: 12px 20px 10px 20px;
  }


  .divider {
    margin: 5px 0px;
    
  }

  #nav-bar-logo{
    width:240px;
    margin: 0px;
  }

  .bio-container {
    flex-direction: column;
  }

  .services-home {
    flex-direction: column;
  }

 
 
}

@media screen and (min-width: 421px) {

  #responsive-menu.show-hidden {
    display: none;
    background-color: red;
  }

}


@media screen and (max-width: 420px) {

  .top-nav nav {
    display: flex;
  }

  .top-nav {
    flex-direction: row;
    justify-content:flex-end;
    align-items: flex-end;
    width: 100%;
  }

  #nav-bar-logo{
    width:200px;
    margin: 0px;
  }

  .top-nav nav {
    padding: 0px;
    justify-content: flex-end;
  }

  .top-nav-buttons {
    display: none;
  }

  #burger-menu-icon {
    display:block;
    padding: 12px 24px;
    
  }


  .top-nav-buttons.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
    height: 100px;
  }
  .top-nav-buttons.responsive {
    position: relative;
    float: none;
    display: block;
    text-align: left;
  }

  #responsive-menu.show-hidden {
    display:flex;
    position: fixed;
    width: 100%;
    background-color: rgb(55, 83, 55);
    
  }
  
  .show-hidden nav {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
    flex-direction: row;
  }
  
  .show-hidden .hidden-menu-item {
    display: flex;
    text-align: center;
  }
  
  .hidden-menu-item a {
    text-decoration: none;
    color: white;
    padding: 12px;
  }
  

}



