{{- /*
Renders a menu for the given menu ID.

@context {page} page The current page.
@context {string} menuID The menu ID.

@example: {{ partial "menu.html" (dict "menuID" "main" "page" .) }}
*/}}

{{- $page := .page }}
{{- $menuID := .menuID }}

{{- with index site.Menus $menuID }}
<div class="top-nav-container">
  <div class="top-nav">
    <div class="top-nav-logo">
      {{ with resources.Get "Julie_Ballew_Logo.png"}}
        <a href="/Julie/index.html"><img id="nav-bar-logo" src="{{ .RelPermalink }}" alt="logo"></a>
      {{ end }}
    </div>
    <nav id="">
      <div class="top-nav-buttons" id="myTopnav">
        {{- partial "top-nav/menu/walk.html" (dict "page" $page "menuEntries" .) }}
        
      </div>
      <a href="javascript:void(0);" id="burger-menu-icon" onclick="myFunction()">
        <i class="fa fa-bars"></i></a>
    </nav>
    
  </div>
</div>
<div class="hidden-menu" id="responsive-menu">
  <nav>
    {{- partial "hidden/menu/walk.html" (dict "page" $page "menuEntries" .) }}
  </nav>

</div>
{{- end }}

{{- define "partials/top-nav/menu/walk.html" }}
  {{- $page := .page }}
  {{- range .menuEntries }}
    {{- $attrs := dict "href" .URL }}
    {{- if $page.IsMenuCurrent .Menu . }}
      {{- $attrs = merge $attrs (dict "class" "active" "aria-current" "page") }}
    {{- else if $page.HasMenuCurrent .Menu .}}
      {{- $attrs = merge $attrs (dict "class" "ancestor" "aria-current" "true") }}
    {{- end }}
    {{- $name := .Name }}
    {{- with .Identifier }}
      {{- with T . }}
        {{- $name = . }}
      {{- end }}
    {{- end }}
    
      <a
        {{- range $k, $v := $attrs }}
          {{- with $v }}
            {{- printf " %s=%q" $k $v | safeHTMLAttr }}
          {{- end }}
        {{- end -}}
      >{{ $name }}</a>
      {{ if eq $name "Workshops" }}
        <span></span>
      {{else}}
        <span class="divider"></span>
        {{ end }}
      <!-- {{- with .Children }}
          {{- partial "inline/menu/walk.html" (dict "page" $page "menuEntries" .) }}
      {{- end }} -->
  {{- end }}
 
{{- end }}

{{- define "partials/hidden/menu/walk.html" }}
  {{- $page := .page }}
  {{- range .menuEntries }}
    {{- $attrs := dict "href" .URL }}
    {{- if $page.IsMenuCurrent .Menu . }}
      {{- $attrs = merge $attrs (dict "class" "active" "aria-current" "page") }}
    {{- else if $page.HasMenuCurrent .Menu .}}
      {{- $attrs = merge $attrs (dict "class" "ancestor" "aria-current" "true") }}
    {{- end }}
    {{- $name := .Name }}
    {{- with .Identifier }}
      {{- with T . }}
        {{- $name = . }}
      {{- end }}
    {{- end }}
    <div class="hidden-menu-item">
      <a
        {{- range $k, $v := $attrs }}
          {{- with $v }}
            {{- printf " %s=%q" $k $v | safeHTMLAttr }}
          {{- end }}
        {{- end -}}
      >{{ $name }}</a>
     
    </div>
      
  {{- end }}
 
{{- end }}
